<!-- <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-around" fxLayoutGap="20px"> -->
  
  <!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around" [fxLayoutGap]="sizes.gap"> -->
<!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around" class="default-gap"> -->
  <!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around" appLayoutGap> -->

<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around" fxLayoutGap="20px">

  <div fxFlex="50%">
    <wasko-playlist-list></wasko-playlist-list>
  </div>

  <div fxFlex="50%">
    <wasko-playlist-details></wasko-playlist-details>

    <wasko-playlist-form></wasko-playlist-form>
  </div>
</div>
