/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.container{
    width:90%;
    margin: 0 auto;
    max-width: 1024px;
}

// mat-list-option-active

.mat-list-item.mat-list-option-active{
    background-color: #3f51b5;
    color:#fff;
}
.mat-list-item.mat-list-option-active:hover{
    background-color: #3f51b5;
    color:#ccc;
}