<form fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
  <pre>{{ playlist | json }}</pre>

  <!-- [value]="playlist.name"
  (input)="playlist.name = $any($event.currentTarget).value" -->

  <!-- [ngModel]="playlist.name"
  (ngModelChange)="playlist.name = validate($event)" -->

  <!-- [ngPlacki]="playlist.name"
    [ngModel]="playlist.name"
    (ngModelChange)="playlist.name = $event.replace('*','')"
    
  (ngPlackiChange)="playlist.name = $event"
  
  [(ngPlacki)]="playlist.name" -->

  <!-- [(ngModel)]="playlist.name" -->

  <mat-form-field>
    <mat-label>Name:</mat-label>
    <input
      [ngModel]="playlist.name"
      type="text"
      name="name"
      matInput
    />
    <mat-hint align="end">0 / 150</mat-hint>
    <mat-error>Field is required</mat-error>
  </mat-form-field>

  <mat-checkbox [ngModel]="playlist.public" name="public">Public</mat-checkbox>

  <mat-form-field>
    <mat-label>Description:</mat-label>
    <textarea
      type="text"
      [ngModel]="playlist.description"
      name="description"
      matInput
    ></textarea>
    <mat-hint align="end">0 / 150</mat-hint>
    <mat-error>Field is required</mat-error>
  </mat-form-field>

  <div
    fxLayout="row"
    fxLayoutAlign="start"
    fxLayoutGap="20px"
    style="padding: 0 0px"
  >
    <button
      fxFlexAlign="start"
      mat-raised-button
      color="warn"
      (click)="cancel.emit(playlist.id)"
    >
      Cancel
    </button>
    <button
      fxFlexAlign="start"
      mat-raised-button
      color="primary"
      (click)="submit()"
    >
      Save
    </button>
  </div>
</form>
